@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

.container {
    font-family: Inter;
    max-width: 1110px;
    margin: 0 auto;
}

.tab {
    text-align: center;
    font-family: Inter;
    color: #272848;
    width: 50%;
    background-color: #ECEFF1;
    padding: 1rem 2rem;
    cursor: pointer;
    display: inline-block;
    border-bottom: 4px solid transparent;
    border-image: 50%;
}

.tab:hover {
    background-color: #abbdca;
}

.grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.list {
    flex: 100%;
    margin-top: 2rem;
}


